{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div class="container-fluid">


    <h2>My Cart</h2><img src="https://logowik.com/content/uploads/images/shopping-cart5929.jpg" width="50" height="50"
                         alt="Image">
    {% if cart.items %}
</div>


<ul class="list-group">
              {% for cart_item in cart_items %}
        <div class="row">
            <div class="col-sm">
                <img src="{{ cart_item.book.image_url.url }}" class="card-img" alt="{{ cart_item.book.title }}">
            </div>
            <div class="col-sm-10">
                <h5>{{ cart_item.book.title }}</h5>
                <p>Price: {{ cart_item.book.price }} per book</p>
                <p>Quantity: {{ cart_item.quantity }}</p>
                <p>Total price: {{ cart_item.total_price }}</p>
                <p>id: {{ cart_item.book.id}}</p>
            </div>
            <a class="btn btn-outline-danger" href="{% url 'remove_from_cart' book_id=cart_item.book.id %}"
               onclick="alert('Item removed from cart')">Remove from cart</a></p>
            <p>Total:{{ cart_items.0.cart.total_price }}</p><a href="{% url 'checkout' cart_item.book.id %}" class="btn btn-outline-primary" onclick="alert('Payment Sucessful')">Buy</a>

        </div>

         {% endfor%}

         <a href="{% url 'Index' %}">Continue Shopping</a>


</ul>
    {% else %}
    <p>Your cart is empty</p>
    <a href="{% url 'Index' %}">Continue Shopping</a>


    {% endif %}

</body>
</html>
